/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC; /* bleu */
    --main-bg-color: #F2F2F2; /* couleur du background gris */
    --filter-bg-color: #DEEBFF; /* bleu pastel */
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container { /*du header jusqu'après le footer */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px; /*ajout d'un padding a gauche droite de tout body */
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title { /*les h2/ */
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px; /* h3 */
}
/* p {
    font-size: 16px; je dois donner cette taille, 
}ou laisser l'utilisateur avec sa taille choisi avec son navigateur ? */

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Logo et navigation ******/
header {
    display: flex;
    justify-content: space-between; /* pourquoi il fonctionne ici et nulle par ailleur, */
}
.logo img { /* reduction de taille du logo*/
    width : 61.09px;
    height: 19px;
    padding: 30px 50px 30px 0px;
}
ul.liennav { /* ul tout seul fonctionnerai ? */
    display: flex;
    justify-content: flex-end; /* ne sert a rien, pourquoi il n'irai pas à droite*/
    gap: 68px;
    
}
@media screen and (min-width: 768px) { /*largeur min 768px pour border-top bleu */
    nav li:hover {
        border-top: 2px #0065FC solid;
    }
}
li {
    font-size: 16px;
    text-align : center;
    padding-top: 11px;
    border-top: 2px #F2F2F2 solid; /*obligée de garder solid, sinon texte saute */
}

/****** Trouvez votre hébergement ******/
.info-group{
    margin-top: 30px;
    margin-bottom: 30px;
}
.info-title p {
    line-height: 44.61px;
}
.search-bar {
    padding-top: 20px;
    padding-bottom: 20px;
}
form {
    display: flex;
    flex-direction: row;
    height: 49px;
}
.bouton-localisation {
    background-color: var(--main-bg-color);
    width: 50px;
    border : 1px var(--main-bg-color) solid;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot {
    vertical-align: middle;
    color: black;
    font-size: 18px;
}
.search-bar input {
    width: 195px;
    border : 1px var(--main-bg-color) solid;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.bouton-rechercher-desktop {
    box-sizing: content-box;
    background-color: var(--main-color);
    width: 132px;
    border: 1px var(--main-color) solid;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-title { /* le h2 hebergements a Marseille. sert a qlq chose ce selecteur? */
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.hebergements-presentation .presentation {
    display: flex;
    margin-top: 33px;
}
.hebergements-presentation img {
    height: 124px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px 20px 20px 20px;
    border: 5px #FFFFFF solid;
}
.presentation .card-content { /*  class="card" chez pop*/
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card { /*peut on utiliser à la place -pop-cards .article { ? */
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}